doctype html
html(lang="en")
  head
    <%= require('html-loader?-minimize!./head.pug') %>
    title <%= htmlWebpackPlugin.options.title %>
  body#body.main
    h1 Main
    img(src="logo.png")
    <%= require('html-loader?-minimize!./partial.pug') %>
