!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %title Example template
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
  %body
    %img{ :src => "logo.png" }
