doctype html
html(lang="en")
		head
				style(type="text/css").
						body {
								font-size: 13px;
						}
				script(type="text/javascript").
						var MY_VAR = 'foobar';
				title Bodyweight training
		body
				img(src="logo.png")
				h1 nested head element
